@media screen and (max-width: 475px){
    body{
        background-color:  hsl(217, 54%, 11%);
        font-family: "Outfit";
    }
    .main-container{
        width: 300px;
        margin: 60px auto;
        border-radius: 10px;
        background-color:  hsl(216, 50%, 16%);
        padding: 10px;
    }
    .middle-container h2{
        color:  hsl(0, 0%, 100%);
    }
    .middle-container p{
        color:  hsl(215, 51%, 70%);
        /* font-size: 18px; */
    }
    strong{
        color:  hsl(178, 100%, 50%);
    }
    b{
        color:  hsl(0, 0%, 100%);
    }
    .image{
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }
    .middle-container{
        padding: 10px;
    }
    .lower-container{
        display: flex;
        column-gap: 90px;
        padding: 5px;
    }
    
    hr{
      border-color:  hsl(215, 32%, 27%);
 
    }
    .avatar{
        /* padding: 5px; */
        display: flex;
        column-gap: 15px;
        align-items: center;
    
    }
 
    avatar-img{
        width: 30px;
        height: 30px;
        border: 1px solid #ffff;
        border-radius: 50px;
        /* padding: 5px; */
    }
}
    
